<div id="<%= dom_id membership %>">
  <p>
    <strong>Charge:</strong>
    <%= membership.charge %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= membership.client_id %>
  </p>

  <p>
    <strong>Gym:</strong>
    <%= membership.gym_id %>
  </p>

</div>
