<h1>Welcome!</h1>
<h2>What would you like to do?</h2>

<ul>
<li><%= link_to 'View gyms', gyms_path %></li>
<li><%= link_to 'View clients', clients_path %></li>
<li><%= link_to 'Add a membership', new_membership_path %></li>
<li><%= link_to 'Delete a membership', memberships_path %></li>
</ul>
